{% extends 'public/index.html' %}

{% block body %}
<div id="documento" class="text-center">
    <h4 class="text-center"> <hr></h4>
    {% if (resultado) %}
    <section>
        <h1 class="mb-4 mt-3 ">Documento:</h1>
       <p class="text-justify font-monospace">
            {{ resultado}}
       </p>
    </section>
        
    {% else %}
        <p>No hay resultados para la busqueda:
            <strong class="busq colorCrimson"> {{ busqueda }}</strong>
        </p>
    {% endif %}

</div>

{% endblock %}